body {
  font-family: "Poppins", " Sans-serif", "important";
}

.sosmed {
  list-style: none;
  display: inline;
  padding: 1px;
  border-radius: 4px;
}

p {
  font-size: 14px;
}

a {
  font-size: 14px;
}

.footer-title {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

.back-to-top {
  background: #00a2ff;
}

#footbar {
  background-color: #fff;
  font-size: 14px;
  padding: 0;
  margin-right: 0;
}

a {
  color: rgb(102, 26, 26);
  margin-right: 10px;
}
#footbar .contact-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#topbar {
  background: #fff;
  color: #fff;
}

/* section */
#heading-title {
  text-align: center;
  font-size: clamp(1rem, 6vw, 2rem);
  text-transform: uppercase;
  font-weight: 700;
  color: #212520;
  font-size: 30px;
}

.sosmed a {
  list-style: none;
  display: inline;
  border: 2px solid #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin-right: 1px;
}

/*text*/
.content-container {
  height: 100%;
  font-size: 17px;
  white-space: pre-line;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  color: #444444;
}

.text-center {
  text-align: center !important;
}

/* angka cepat*/
.base-padding {
  padding: 60px 0;
}
